extends layout

block content
      
            .row
                div
                    image.img-responsive.center-block(width=200, src="#{data.AppImg}")
            .row
                div.col-md-4.col-md-offset-4.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
                    H1.H1.text-center #{data.AppName}
            .row
               div.col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                    form.form-horizontal(ng-controller="LoginController" ng-init="chkkey='#{data.CheckCode.Key}'") 
                        fieldset
                       
                                input.form-control(type="text" id="username" placeholder="用户名" ng-model="username")
                                .hidden {{ sessionId="#{data.SessionID}" }}
                                if data.Dbs.length ==1 
                                    input(ng-hide="true" value="#{data.Dbs[0].DbId}" ng-init="dbid='#{data.Dbs[0].DbId}'" id="dbid" ng-model="dbid")
                            
                                input.form-control(type="password"  placeholder="密码"  id="password" ng-model="pwd")
                                input.form-control(type="text" id="checkcode"  placeholder="验证码"  ng-model="chkcode")
                                a.pull-right(href="javascript:void(0);" ng-click="refresh()") 刷新
                                #chkimg.pull-right
                                    image( src="data:image/gif;base64,#{data.CheckCode.ChkCodeImg}") 
           
                        button.btn.btn-primary.btn-block.text-center(ng-click="hello()")  登录
                        button.btn.btn-block.text-center(ng-click="showerror()")  重置
            div.row
                p.col-sm-4.col-sm-offset-4.text-center #{data.AppVersion}
            div.row
                p.col-sm-4.col-sm-offset-4.text-center.address 
                    strong 
                        a(href="http://#{data.AppUrl}" target="_blank") #{data.AppPowerBy} 


                               
         
 

