extends default
block content
    .panel.panel-default
        .panel-heading #{view.data.Name}
        
        .panel-body(ng-controller="QuerylistdataController"
         ng-init="viewid='#{view.data.ID}';tableid = 'datalist'; page='1' ; size='10';count='0';pages='0';orderitem='0';ordertype='0';filter=''")

            for op in view.data.Operations
                    .hidden(ng-init="addop(#{op.ID},#{op.RequireSelect},#{op.ViewID},'#{op.Name}')")
                    
            form.navbar-form.navbar-right(role="search" ng-init="token='#{view.Token}'; detailId='#{view.data.DetailViewId}'")
                .form-group
                    input.form-control(type="text" ng-model="filter" nplaceholder="输入条件")
                button.btn.btn-default(ng-click="query()")  查找   
                button.btn.btn-default(ng-click="mkquery()")  统计 
                -for(i=0;i<view.data.Operations.length;i++){
                    -if(view.data.Operations[i].RequireSelect==false)
                        a.btn(href="new#{view.data.Operations[i].ViewID}" target="_self") #{view.data.Operations[i].Name}    
                -}
            table.table.table-striped.table-hover.table-condensed#datalist
                tr
                    -for(i=0;i<view.data.Items.length;i++){
                        th(style="width:#{view.data.Items[i].Width}px")  #{view.data.Items[i].Name}
                    -}
                    th 操作
            nav
                #info  记录数未知,请查询  
                ul.pagination#pagenav
block dialog
    .modal.fade#query-dialog(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        H4.modal-title 查询
                    .modal-body
                        #query-panel
                            #selectform
                                .form-group
                       
                        
                        
                    .modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal")  关闭
    #rptdiag.modal.fade
        .modal-dialog.modal-lg(ng-controller="MakeReportController")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-lable="Close")
                        .span &times;
                    h4.modal-title 生成报表
                .modal-body
                    ul.nav.nav-tabs
                            li.active
                                a(href="#mkoutput" data-toggle='tab'  taget="_self") 输出
                            li
                                a(href="#mkcondition" data-toggle='tab'  taget="_self") 条件
                    .tab-content
                        .tab-pane.active#mkoutput
                             

                                .container-fluid    
                       
                                    .row
                                        .col-md-4
                                            p 候选列
                                            select.form-control(size="10")#rpt-candidate 
                             
                                        .col-md-4 
                                            p 输出方式
                                            select.form-control#rtp-selecttype(size="10")
                                            button.pull-right(ng-click="add()")
                                                span.glyphicon.glyphicon-arrow-right(aria-hidden="true" )
                                        .col-md-4
                                            form.form-horizontal
                                                p 已选列
                                                select.form-control.pull-left#rtp-selected(size="10")
                                                .btn-toolbar
                                                    .btn-group.btn-group-xs
                                                        button(ng-click="up()" data-toggle="tooltip" title="上调")
                                                            span.glyphicon.glyphicon-arrow-up(aria-hidden="true") 
                                                        button(ng-click="down()" data-toggle="tooltip" title="下调")
                                                            span.glyphicon.glyphicon-arrow-down(aria-hidden="true") 
                                                        button(ng-click="del()" data-toggle="tooltip" title="删除") 
                                                            span.glyphicon.glyphicon-remove(aria-hidden="true")
                                                    .btn-group.btn-group-xs
                                                        button(ng-click="asc()" data-toggle="tooltip"  title="升序") 
                                                            span.glyphicon.glyphicon-sort-by-alphabet(aria-hidden="true")
                                                        button(ng-click="desc()" data-toggle="tooltip"  title="降序") 
                                                            span.glyphicon.glyphicon-sort-by-alphabet-alt(aria-hidden="true")
                                                        button(ng-click="casc()"  data-toggle="tooltip" title="取消排序") 
                                                            span.glyphicon.glyphicon-remove(aria-hidden="true")
                                    
                        .tab-pane#mkcondition   
                            table.table.table-condensed#tb-condition
                            
                                tr#tou
                                    th(style="width:22px")
                                    th(style="width:22px")
                                    th(style="width:22px")
                                    th
                                        div(ng-click="mergecondition()"  title="合并分组" class="glyphicon glyphicon-list")                                         
                                    
                                    th 与/或
                                    th 字段
                                    th 运算
                                    th 值
                                tr
                                    td
                                        .glyphicon.glyphicon-plus
                                    td
                                        .glyphicon.glyphicon-plus
                                    td(colspan="3") 
                                        a(ng-click="addcondition()" target="_self") 添加条件
                                        
                                        
                                         
                                        
                                        
                  
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button" ng-click="mkrpt()") 确定
    #rptresultdiag.modal.fade
        .modal-dialog.modal-lg(ng-controller="ShowReportController")
            .modal-content
                .modal-header
                    h4.modal-title 报表结果
                .modal-body
                    p 报表结果 共{{totalpages}}页 当前第{{pageindex}}页
                        .btn-group.btn-group-xs.pull-right
                            button.btn.btn-default(type="button",ng-click="pre()") 前一页
                            button.btn.btn-default(type="button",ng-click="next()") 下一页
                            button.btn.btn-default 导出当前页
                            button.btn.btn-default 导出全部

                    table.table.table-striped.table-hover#rptTable
                            
 
                  
                .modal-footer

                    button.btn.btn-primary(type="button" ng-click="back()") 返回